services:
  db:
    image: postgres:17
    container_name: odoo-pg
    restart: always
    environment:
      POSTGRES_DB: odoo
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    ports:
      - "5433:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data

volumes:
  pg-data: