services:
  db:
    image: postgres:17
    container_name: odoo-uat-db
    hostname: odoo-uat-db
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "postgres", "-U", "odoo"]
      timeout: 45s
      interval: 10s
      retries: 10
    user: 1000:1000
    volumes:
      - /home/administrator/odoo/odoo-uat/db:/var/lib/postgresql/data:rw
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    restart: always
    
  odoo:
    image: silverlit-odoo17:latest
    container_name: odoo-uat-server
    hostname: odoo-uat-server
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: curl -f http://localhost:8069/ || exit 1
    user: 1000:1000
    volumes:
      - /home/administrator/odoo/odoo-uat/web-data:/var/lib/odoo:rw
      - /home/administrator/odoo/odoo-uat/config:/etc/odoo:rw
      - /home/administrator/odoo/odoo-uat/custom_addons:/mnt/custom_addons:rw
      - /home/administrator/odoo/odoo-uat/third_party_addons:/mnt/third_party_addons:rw      
      - /home/administrator/odoo/odoo-uat/cache:/.cache/pip:rw
      - /home/administrator/odoo/odoo-uat/local:/.local:rw
      - /home/administrator/odoo/odoo-uat/backup:/backup:rw
      - /home/administrator/odoo/mnt/Hana_Image_upload/odoo-uat/Upload:/image-upload/Upload:rw
      - /home/administrator/odoo/mnt/Hana_Image_upload/odoo-uat/Success:/image-upload/Success:rw
      - /home/administrator/odoo/mnt/Hana_Image_upload/odoo-uat/Failed:/image-upload/Failed:rw
    environment:
      HOST: odoo-uat-db
      PORT: 5432
      USER: odoo
      PASSWORD: odoo
    restart: always
    depends_on:
      db:
        condition: service_healthy

nginx:
    image: nginx:latest
    container_name: odoo-uat-nginx
    hostname: odoo-uat-nginx
    ports:
      - 10002:80
    volumes:
      - /home/administrator/odoo/odoo-uat/nginx/html:/usr/share/nginx/html:rw
      - /home/administrator/odoo/odoo-uat/nginx/config/nginx.conf:/etc/nginx/conf.d/default.conf:rw
      - /home/administrator/odoo/odoo-uat/nginx/logs:/var/log/nginx:rw
    restart: unless-stopped
    depends_on:
      odoo:
        condition: service_healthy