services:
  db:
    image: postgres:17
    container_name: silverlit-odoo17-db
    hostname: silverlit-odoo17-db
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "postgres", "-U", "odoouser"]
      timeout: 45s
      interval: 10s
      retries: 10
    ports:
      - 10101:5432
    volumes:
      - /volume1/docker/silverlit-odoo/db:/var/lib/postgresql/data:rw
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    restart: always

  odoo:
    image: silverlit-odoo17:latest
    container_name: silverlit-odoo17-server
    hostname: silverlit-odoo17-server
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: curl -f http://localhost:8069/ || exit 1
    ports:
      - 10102:8069
      - 10103:8072
    user: 1000:1000
    volumes:
      - /volume1/docker/silverlit-odoo/web-data:/var/lib/odoo:rw
      - /volume1/docker/silverlit-odoo/config:/etc/odoo:ro
      - /volume1/docker/silverlit-odoo/application/custom_addons:/mnt/custom_addons:rw
      - /volume1/docker/silverlit-odoo/application/third_party_addons:/mnt/third_party_addons:rw      
      - /volume1/docker/silverlit-odoo/cache:/.cache/pip:rw
      - /volume1/docker/silverlit-odoo/local:/.local:rw
      - /volume1/docker/silverlit-odoo/logs:/mnt/logs:rw
      - /volume1/docker/silverlit-odoo/filestore:/mnt/filestore:rw
      - /volume1/docker/silverlit-odoo/backup:/mnt/backup:rw
      - /volume1/docker/silverlit-upload-image-test/images:/odoo-upload/images:rw
      - /volume1/docker/silverlit-upload-image-test/completed:/odoo-upload/completed:rw
      - /volume1/docker/silverlit-upload-image-test/failed:/odoo-upload/failed:rw
    environment:
      HOST: silverlit-odoo17-db
      PORT: 5432
      USER: odoo
      PASSWORD: odoo
    restart: always
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:latest
    container_name: silverlit-odoo17-nginx
    hostname: silverlit-odoo17-nginx
    ports:
      - 10104:80
    volumes:
      - /volume1/docker/silverlit-odoo/nginx/html:/usr/share/nginx/html:rw
      - /volume1/docker/silverlit-odoo/nginx/config/nginx.conf:/etc/nginx/conf.d/default.conf:rw
      - /volume1/docker/silverlit-odoo/nginx/logs:/var/log/nginx:rw
    restart: unless-stopped
    depends_on:
      odoo:
        condition: service_healthy